/* reset 0 */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav {
    display: flex;
    justify-content: space-between;

    /* เส้นขอบ */
    /* border: 1px solid red; */
    padding: 10px;
}

main {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

main div {
    padding: 20px;
}

main div p {
    /* ระยะห่างจากด้านบน */
    margin-top: 10px;
}

main img {
    width: 100%;

    /* ความโค้ง */
    border-radius: 20px;
}

.menu {
    /* เรียงเป็นแนวนอน */
    display: flex;
    
    /* ลบจุด */
    list-style: none;
}

.menu li {
    margin-left: 10px;
}

.menu li a {
    text-decoration: none;
    color: #333;
}

.logo a {
    text-decoration: none;
    color: #333;
    font-size: 18px;
    font-weight: bold;
}

.banner {
    background-color: teal;
    color: #fff;
    height: 400px;
    display: flex;

    /* กำหนดแนวนอน */
    justify-content: center;
    /* กำหนดแนวตั้ง */
    align-items: center;
}

.banner-info img {
    width: 300px;
    border-radius: 100%;
}

.banner-info {
    /* กำหนด text ตรงกลาง */
    text-align: center;
}